<style>
.fenfridayvid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border-radius: 5%;
  display: block;
  width: 260px
}

.fenfridaytxt {
  font-size: 30px;
  font-weight: 700;
  animation: blink 0.8s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
</style>

<!-- <p class="fenfridaytxt">YIPPIE ITS FENNEC FRIDAY</p> -->
<video src="/fennecfriday.webm" class="fenfridayvid" autoplay muted controls loop></video>
