<!DOCTYPE html>
<head>
    <%-include('../partial/head', {title: 'files'});%>
</head>
<body>
    <button type="button" onclick="readDb()">test read</button>
    <button type="button" onclick="writeDb()">test write</button>

    <div>
        response: <p id="response"></p>
    </div>
</body>
