<!DOCTYPE html>
<head>
    <title>>w<</title>
    <link rel="stylesheet" href="/styles/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<P style="font-size: 30px;">page not found</p>
<p style="font-size: 30px;">>w<</p>
<br>
<br>
<br>
<br>
<br>
<br>
<a style="font-size: 20px;" href="/">home</p>