<!DOCTYPE html>
<head>
    <title>>w< [debug]</title>
    <link rel="stylesheet" href="/styles/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<P style="font-size: 30px;">oopsie woopsy you made a fucky wucky</p>
<p style="font-size: 30px;">>w<</p>
<br>
<br>
<br>
<p>details:</p>
<br>

<pre>
    <%= message; %>
    <br>
    <br>
    <%= error; %>
</pre>