<!DOCTYPE html>
<head>
    <title>>w<</title>
    <link rel="stylesheet" href="/styles/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <style>
        body {
            font-family: monospace;
            font-size: 20px;
        }
        a {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <P style="font-size: 30px;">oopsie woopsy you made a fucky wucky</p>
    <p style="font-size: 30px;">>w<</p>
    <a href="/">>>main page<<</a>
</body>


