<!DOCTYPE html>
<head>
<%- include("partial/head"); %>
</head>
    <body>
    <p>hi welcome to my site !!</p>
    <p>im mochi and i fucking love fennec foxes</p>
    <img id="gif" src="fennec.gif" width="120px">
    <p>this is the new and improved&trade; fennec dot lol v2 !!</p>
    <p>it runs on node instead of basic php like the old site which means its faster and can do extra cool things probably</p>
    <p>theres not a whole lot here now but i plan to add a whole bunch of silly things eventually :3</p>
    <br>
    <p>anyway i hope u enjoy, thank u for visiting ! <3</p>
    <a href="/mochi" id="holymoly"><img src="holymoly.png" width="100px"><p>click me :3</p></a>
    <p>where to find me:</p>
    <div id="social">
        <a href="https://instagram.com/xsoftfox" style="background-image: url(/icons/social/instagay.png);" class="button"></a>
        <a href="https://twitter.com/xsoftfox" style="background-image: url(/icons/social/titter.png);" class="button"></a>
        <a id="dickbutton" style="background-image: url(/icons/social/dickord.png);" class="button" ><span id="dickord">softfox</span></a>
	<a href="https://bsky.app/profile/xsoftfox.fennec.lol" style="background-image: url(/icons/social/bsky.png);" class="button"></a>
	<a href="https://steamcommunity.com/id/xsoftfox/" style="background-image: url(/icons/social/steam.svg);" class="button"></a>
        <a href="https://artfight.net/~xsoftfox" style="background-image: url(/icons/social/artfight.png);" class="button"></a>
        <a href="mailto:fox@fennec.lol" style="background-image: url(/icons/social/eemail.png);" class="button"></a>
    </div>
    <br>
    <img src="fen.png" height="200px"></img>
    <br>
    :)
    <br>
    <br>
    <br>
    <a href="/credits">credits</a>
</body>
    
