<!DOCTYPE html>
<head>
    <title>hi :3</title>
    <%- include('partial/head', {title: 'index'});%>
    <meta name="description" content="new and improved™ fennec dot lol !!">
    <link rel="preload" as="image" href=":3.png" />
    <link rel="preload" as="image" href="x3.png" />
    <link rel="prefetch" href="honk.ogg" />
</head>

<canvas id="bgcanvas"></canvas>

<body>
<h1>fennec.lol</h1>

<%
var d = new Date();
var day = d.getDay();
if (day == 5) { %>
    <%- include ("partial/fenfriday"); %>
<%}%>
<div class="card-container">
    <div id="column1" class="column">
        <div id="statusCard" class="card">
            <h3>news</h3>
            <p>1/18/25 - :3</p>
            <p>4/30/25 - new mochi lore just dropped <a href="/mochi">go look</a> :3</p>
        </div>
        <div id="fenCard" class="card">
            <h3>random fen</h3>
            <img id="randomFen" src="https://stash.fennec.lol/random_image/download/fennec%20content=image"></img>
            <span id="fenbuttons" >
            <img src="/icons/refresh2.svg" onclick="getRandomFen()"></img>
            <img id="pause" src="/icons/pause.svg" onclick="pauseRandomFen()"></img>
            </span>
        </div>
    </div>
    <div id="column2" class="column">
        <div id="linksCard" class="card">
            <h3>links</h3>
            <a href="/about" class="button">about</a>
            <p class="floatyright">*new and improved*</p>
            <a href="https://stash.fennec.lol" class="button">fen stash</a>
            <p class="floatyleft">over 5000 fens !!</p>
            <a href="https://old.fennec.lol/important" class="button">important pictures</a>
            <a href="https://old.fennec.lol/qna" class="button">ask stuff</a>
            <a href="/test" class="button">test</a>
        </div>
        <div id="toolCard" class="card">
            <h3>tools</h3>
            <a href="/files" class="button">file upload</a>
            <a href="/ip" class="button">ip address</a>
        </div>
    </div>
    <div id="column3" class="column">
        <div id="chatCard" class="card">
            <div id="chatHeader">
            <h3>chat</h3>
            <a href="/chat"><img src="/icons/expand.svg"></img></a>
            </div>
            <div id="chat">
            <div id="messages"></div>
            </div>
        </div>
        <div id="themeCard" class="card">
            <h3>theme</h3>
            <p onclick="switchTheme('default')"><u>default</u></p>
            <p onclick="switchTheme('aero')"><u>aero</u></p>
            <p onclick="switchTheme('neon')"><u>neon</u></p>
            <br><br>
            <pp>current theme: <span id="themename">default</span></pp>
        </div>
        <div id="testCard" class="card">
            <h3>:3</h3>
            <img src=":3.png" id="three" onclick="three()">
            <p id="threetotal">click to :3</p>
            <audio id="honk" preload src="honk.ogg"></audio>
            <div style="position: relative; width: 0; height: 0">
                <canvas id="confetti"></canvas>
            </div>
        </div>
    </div>
</div>
<a href="https://old.fennec.lol">old site</a>
</body>
<script src="/chat/socket.io/socket.io.min.js"></script>
<script src="/scripts/bg-effects/stars.js"></script>
<script src="/scripts/confetti.js"></script>
<script>
var paused = false;
setInterval(getRandomFen, 10000);

function getRandomFen() {
    if (window.paused === false) {
        document.getElementById('randomFen').src = "https://stash.fennec.lol/random_image/download/fennec%20content=image?" + new Date().getTime();
    }
}

function pauseRandomFen() {
    if (window.paused === true) {
        document.getElementById("pause").style = "";
        window.paused = false;
    } else {
        document.getElementById("pause").style = "transform: scale(130%)";
        window.paused = true;
    }
}

function switchTheme(ass) {
    switch (ass) {
        case "aero":
            document.getElementById("theme").href = "/styles/theme-aero.css";
            document.getElementById("themename").innerText = "aero";
            localStorage.setItem("theme", "aero");
            break;
        case "neon":
            document.getElementById("theme").href = "/styles/theme-neon.css";
            document.getElementById("themename").innerText = "neon";
            localStorage.setItem("theme", "neon");
            break;
        default:
            document.getElementById("theme").href = "";
            document.getElementById("themename").innerText = "default";
            localStorage.removeItem("theme");
    }
}

var sesTheme = localStorage.getItem("theme");
if (sesTheme) {switchTheme(sesTheme)};

//chat

async function fetchmsg() {
  let response = await fetch('/chat/messages/limit');
        if (response.status == 200) {
            listMsg(await response.json()); 
        } else {
            document.getElementById("messages").innerHTML = ":(";
        }
};

function listMsg(res) {
for (var i = 0; i < res.length; i++) {
  var li = document.createElement('p');
  li.textContent = `${res[i].user}: ${res[i].message}`;
  messages.appendChild(li);
}
};

fetchmsg();

var socket = io("/chat", { path: "/chat/socket.io" });

socket.on('chat message', (data) => {
  var li = document.createElement('p');
  li.textContent = `${data.user}: ${data.message}`;
  messages.appendChild(li);
});

//:3
async function three() {
    new Audio("honk.ogg").play();

    document.getElementById("three").src = "x3.png";
    document.getElementById("three").classList.add('bouncy');
    let response = await fetch('/api/:3', {method: "POST"});
    document.getElementById("threetotal").innerHTML = ":3 counter: " + await response.json();
    if(document.getElementById("threetotal").innerHTML.match(/00$/)) {
        shoot();
    }
    
    setTimeout(() => {
        document.getElementById("three").src = ":3.png";
        document.getElementById("three").classList.remove('bouncy');
    }, "400");

};

//confetti - https://www.npmjs.com/package/canvas-confetti
var scalar = 2;
var fop = confetti.shapeFromText({ text: '🦊', scalar });
var canvas = document.getElementById('confetti');
canvas.confetti = canvas.confetti || confetti.create(canvas, { resize: true });

var defaults = {
  spread: 50,
  ticks: 60,
  gravity: 1,
  decay: 0.9,
  startVelocity: 20,
  shapes: [fop],
  scalar
};

function shoot() {
  canvas.confetti({
    ...defaults,
    particleCount: 10
  });

  canvas.confetti({
    ...defaults,
    particleCount: 5,
    flat: true
  });

  canvas.confetti({
    ...defaults,
    particleCount: 5,
    scalar: scalar / 2,
    shapes: ['circle']
  });
}
</script>

