<!DOCTYPE html>
<head>
<%- include("partial/head"); %>
</head>
<body>
<div id="sillydiv">
    <img id="silly" src="silly.png" width="100px">
</div>
<img id="silly2" src="silly2.png" width="100px">
<h1>Mochi :3</h1>
<h4>fennec fox</h4>
<hr/>
<ul>
    <li>silly :p</li>
    <li>smol</li>
    <li><b>big</b> ol ears</li>
    <li>head empty</li>
    <li>aaaaaaaaaaaaa</li>
</ul>

<br>

<details>
    <summary>
        interests
    </summary>
    <ul>
        <li>foxes</li>
        <li>plushies</li>
        <li>computers</li>
        <li>gayming</li>
        <li>sleeping</li>
        <li>fall/halloween</li>
        <li>liminal spaces</li>
    </ul>
</details>

<p style="max-width: 350px; margin: 20px auto;">just a littol guy :3 he likes wearing big hoodies thigh highs and other silly clothes, feel free to draw him however tho, i love seeing him in different styles ^^</p>

<img class="ref" src="mochiref.png">

<div id="colors">
    <span class="dot" style="background-color: #d2eaff;"></span><p>#d2eaff</p>
    <span class="dot" style="background-color: #fff3c6;"></span><p>#fff3c6</p>
    <span class="dot" style="background-color: #585858;"></span><p>#585858</p>
    <span class="dot" style="background-color: #fffcf2;"></span><p>#fffcf2</p>
</div>

<p>you can see more on my <a href="//instagram.com/xsoftfox">instagram </a>:3</p>

<br>

<p>gift art is very welcome !! <3</p>

<img id="petpet" src="petpet.gif" width="150px">

<br><br><br><br><br><br><br><br><br><br>

<u id="butt" onclick="owo();" style="opacity: 0.25;">nsfw ref</u>

<div id="owo" onclick="reveal()">
    <img class="ref blur" id="oworef" src="iknowwhatyouare.png">
    <div id="overlay">
        <p>🔞THIS PICTURE CONTAINS BALLS !!!!🔞</p><br>
        <p>are you sure you want to see ??</p><br><br>
        <p><b>click to reveal</b></p>
    </div>
</div>
<p id="hiddentext" onclick="revealreal()">click here for real image (last warning !!)</p>

<br>
<br>
<br>
</body>
<script>
    function reveal() {
        document.getElementById("oworef").classList.remove("blur");
        document.getElementById("overlay").style.display = "none";
        document.getElementById("hiddentext").style.display = "block";
    }

    function revealreal() {
        document.getElementById('oworef').src = "owo.png";
        document.getElementById("hiddentext").style.display = "none";
    }

    function owo() {
        var owo = document.getElementById("owo");
        var butt = document.getElementById("butt");
        if (owo.style.display === "block") {
            owo.style.display = "none";
            butt.innerText = ">w<";
            document.getElementById("hiddentext").style.display = "none";
            document.getElementById("oworef").classList.add("blur");
            document.getElementById("overlay").style.display = "block";
            document.getElementById('oworef').src = "iknowwhatyouare.png";
        } else {
            owo.style.display = "block";
            butt.innerText = "owo";
        }
    }
</script>