<!DOCTYPE html>
<head>
<%- include("partial/head"); %>
</head>
<body>
  <h1>stuff im working on :3</h1>
  <p>and some silly stuff</p>
  <div id="ass">
    <ul>
      <li><a href="/ears">ears</a></li>
      <li><a href="/boxes">1000 checkboxes</a></li>
      <li><a href="/test/db">db</a></li>
    </ul>
  </div>
  </div>
</body>
<script src="/scripts/oneko.js"></script>